window-content {
  .pane-group {
    .sidebar {
      &.canvas-elements {
        nav-item {

        }
      }

      .editor {
        .editor-inner {
          padding: 0 10px 15px 25px;
        }
      }
    }
  }
}

#canvas-wrapper {
  background: black;

  .canvas-container {
    margin: 25px;
    border: 1px solid #454545;

    #canvas {
      background: white;
    }
  }
}